version: '3.9'

services:
  app:
    container_name: ${APP_CONTAINER:-json-api-app}
    build:
      context: .
      dockerfile: Dockerfile
      target: ${BUILD_TARGET:-local}
      args:
        APP_PORT: ${APP_PORT:-3000}
    image: json-api-usage-app:latest
    restart: unless-stopped
    env_file:
      - .env
    environment:
      ENV: ${ENV:-local}
    ports:
      - '${APP_PORT:-3000}:${APP_PORT:-3000}'
    volumes:
      - ${DEV_VOLUMES:-/dev/null}:/usr/src/app/src
      - ./swagger.json:/usr/src/app/swagger.json
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: ${DB_CONTAINER:-json-api-db}
    image: postgres:17-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: ${TIME_ZONE:-UTC}
      POSTGRES_INITDB_ARGS: '--encoding=UTF8 --locale=en_US.UTF-8'
    ports:
      - '${DB_PORT:-5432}:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER} -d ${DB_NAME}']
      interval: 5s
      retries: 5
      timeout: 5s
    volumes:
      - postgres-data:/var/lib/postgresql/data

  adminer:
    container_name: ${DB_ADMIN_CONTAINER:-json-api-adminer}
    image: adminer
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - '${DB_ADMIN_PORT:-3307}:8080'
    environment:
      ADMINER_DEFAULT_SERVER: postgres
      ADMINER_DEFAULT_USERNAME: ${DB_USER}
      ADMINER_DEFAULT_PASSWORD: ${DB_PASSWORD}
      ADMINER_DESIGN: hydra

volumes:
  postgres-data:
