name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: true

    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci --force

      - name: Setup repo
        run: |
          mkdir tmp
          openssl genrsa -out tmp/jwt.private.pem 4096
          openssl rsa -in tmp/jwt.private.pem -pubout -outform PEM -out tmp/jwt.public.pem

      - name: Run ESLint
        run: npm run eslint

      - name: Run prettier
        run: npm run prettier

      - name: Build
        run: npm run build
